.dark-mode .highlight table td { padding: 5px; }
.dark-mode .highlight table pre { margin: 0; }
.dark-mode .highlight .c,
.dark-mode .highlight .ch,
.dark-mode .highlight .cd,
.dark-mode .highlight .cpf {
  color: #75715e;
  font-style: italic;
}
.dark-mode .highlight .cm {
  color: #75715e;
  font-style: italic;
}
.dark-mode .highlight .c1 {
  color: #75715e;
  font-style: italic;
}
.dark-mode .highlight .cp {
  color: #75715e;
  font-weight: bold;
}
.dark-mode .highlight .cs {
  color: #75715e;
  font-weight: bold;
  font-style: italic;
}
.dark-mode .highlight .err {
  color: #960050;
  background-color: #1e0010;
}
.dark-mode .highlight .gi {
  color: #ffffff;
  background-color: #324932;
}
.dark-mode .highlight .gd {
  color: #ffffff;
  background-color: #493131;
}
.dark-mode .highlight .ge {
  color: #000000;
  font-style: italic;
}
.dark-mode .highlight .gr {
  color: #aa0000;
}
.dark-mode .highlight .gt {
  color: #aa0000;
}
.dark-mode .highlight .gh {
  color: #999999;
}
.dark-mode .highlight .go {
  color: #888888;
}
.dark-mode .highlight .gp {
  color: #555555;
}
.dark-mode .highlight .gs {
  font-weight: bold;
}
.dark-mode .highlight .gu {
  color: #aaaaaa;
}
.dark-mode .highlight .k,
.dark-mode .highlight .kv {
  color: #66d9ef;
  font-weight: bold;
}
.dark-mode .highlight .kc {
  color: #66d9ef;
  font-weight: bold;
}
.dark-mode .highlight .kd {
  color: #66d9ef;
  font-weight: bold;
}
.dark-mode .highlight .kp {
  color: #66d9ef;
  font-weight: bold;
}
.dark-mode .highlight .kr {
  color: #66d9ef;
  font-weight: bold;
}
.dark-mode .highlight .kt {
  color: #66d9ef;
  font-weight: bold;
}
.dark-mode .highlight .kn {
  color: #f92672;
  font-weight: bold;
}
.dark-mode .highlight .ow {
  color: #f92672;
  font-weight: bold;
}
.dark-mode .highlight .o {
  color: #f92672;
  font-weight: bold;
}
.dark-mode .highlight .mf {
  color: #ae81ff;
}
.dark-mode .highlight .mh {
  color: #ae81ff;
}
.dark-mode .highlight .il {
  color: #ae81ff;
}
.dark-mode .highlight .mi {
  color: #ae81ff;
}
.dark-mode .highlight .mo {
  color: #ae81ff;
}
.dark-mode .highlight .m,
.dark-mode .highlight .mb,
.dark-mode .highlight .mx {
  color: #ae81ff;
}
.dark-mode .highlight .se {
  color: #ae81ff;
}
.dark-mode .highlight .sa {
  color: #66d9ef;
  font-weight: bold;
}
.dark-mode .highlight .sb {
  color: #e6db74;
}
.dark-mode .highlight .sc {
  color: #e6db74;
}
.dark-mode .highlight .sd {
  color: #e6db74;
}
.dark-mode .highlight .s2 {
  color: #e6db74;
}
.dark-mode .highlight .sh {
  color: #e6db74;
}
.dark-mode .highlight .si {
  color: #e6db74;
}
.dark-mode .highlight .sx {
  color: #e6db74;
}
.dark-mode .highlight .sr {
  color: #e6db74;
}
.dark-mode .highlight .s1 {
  color: #e6db74;
}
.dark-mode .highlight .ss {
  color: #e6db74;
}
.dark-mode .highlight .s,
.dark-mode .highlight .dl {
  color: #e6db74;
}
.dark-mode .highlight .na {
  color: #a6e22e;
}
.dark-mode .highlight .nc {
  color: #a6e22e;
  font-weight: bold;
}
.dark-mode .highlight .nd {
  color: #a6e22e;
  font-weight: bold;
}
.dark-mode .highlight .ne {
  color: #a6e22e;
  font-weight: bold;
}
.dark-mode .highlight .nf,
.dark-mode .highlight .fm {
  color: #a6e22e;
  font-weight: bold;
}
.dark-mode .highlight .no {
  color: #66d9ef;
}
.dark-mode .highlight .bp {
  color: #f8f8f2;
}
.dark-mode .highlight .nb {
  color: #f8f8f2;
}
.dark-mode .highlight .ni {
  color: #f8f8f2;
}
.dark-mode .highlight .nn {
  color: #f8f8f2;
}
.dark-mode .highlight .vc {
  color: #f8f8f2;
}
.dark-mode .highlight .vg {
  color: #f8f8f2;
}
.dark-mode .highlight .vi {
  color: #f8f8f2;
}
.dark-mode .highlight .nv,
.dark-mode .highlight .vm {
  color: #f8f8f2;
}
.dark-mode .highlight .w {
  color: #f8f8f2;
}
.dark-mode .highlight .nl {
  color: #f8f8f2;
  font-weight: bold;
}
.dark-mode .highlight .nt {
  color: #f92672;
}
.dark-mode .highlight {
  color: #f8f8f2;
  background-color: #49483e;
}

