---
---

html {
    background-color: #ffead3;
    color: #1a1a1a;
    font-family: "FantasqueSansMono";
}

html.dark-mode {
    background-color: #000000;
    color: white;
}

.title {
    text-align: center;
    text-decoration-line: underline;
    padding: 20px;
    font-family: "FantasqueSansMono";
    overflow-x: hidden;
}

.aboutsummary {
    text-align: center;
    overflow-x: hidden;
}

.intro {
    text-align: center;
    padding: 20px;
}

.aboutsummary {
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    font-size: 1.5em;
}

.info a {
    display: block;
}

.dark-mode a:link {
    color: lightskyblue;
    /* Unvisited links in dark mode */
}

.dark-mode a:visited {
    color: #6d4b8d;
    /* Visited links in dark mode */
}

.dark-mode a:hover {
    color: #ffffff;
    /* Hovered links in dark mode */
}

.dark-mode a:active {
    color: #ff4040;
    /* Active links in dark mode */
}

@media only screen and (max-width: 500px) {
    .info {
        font-size: 4vw;
    }

    .text {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 500px) {
    .info a {
        padding: 15px;
    }
}

article {
    line-height: 1.7; font-size: 1.1em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    width: 100%;
}
