---
---

@font-face {
    font-family: 'FantasqueSansMono';
    src: url('/resources/Webfonts/FantasqueSansMono-Regular.woff2') format('woff2'),
        url('/resources/Webfonts/FantasqueSansMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FantasqueSansMono';
    src: url('/resources/Webfonts/FantasqueSansMono-Bold.woff2') format('woff2'),
        url('/resources/Webfonts/FantasqueSansMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'FantasqueSansMono';
    src: url('/resources/Webfonts/FantasqueSansMono-Italic.woff2') format('woff2'),
        url('/resources/Webfonts/FantasqueSansMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'FantasqueSansMono';
    src: url('/resources/Webfonts/FantasqueSansMono-BoldItalic.woff2') format('woff2'),
        url('/resources/Webfonts/FantasqueSansMono-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

html {
    background-color: #ffead3;
    color: #1a1a1a;
    font-family: "FantasqueSansMono";
}

html.dark-mode {
    background-color: #000000;
    color: white;
}

.title {
    text-align: center;
    text-decoration-line: underline;
    padding: 20px;
    font-family: "FantasqueSansMono";
    overflow-x: hidden;
}

.aboutsummary {
    text-align: center;
    overflow-x: hidden;
}

.intro {
    text-align: center;
    padding: 20px;
}

.aboutsummary {
    padding: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    font-size: 1.5em;
}

.info a {
    display: block;
}

.dark-mode a:link {
    color: lightskyblue;
    /* Unvisited links in dark mode */
}

.dark-mode a:visited {
    color: #6d4b8d;
    /* Visited links in dark mode */
}

.dark-mode a:hover {
    color: #ffffff;
    /* Hovered links in dark mode */
}

.dark-mode a:active {
    color: #ff4040;
    /* Active links in dark mode */
}

@media only screen and (max-width: 500px) {
    .info {
        font-size: 4vw;
    }

    .text {
        font-size: 5vw;
    }
}

@media only screen and (min-width: 500px) {
    .info a {
        padding: 15px;
    }
}
